.image-wrapper {
  position: relative;
  overflow: hidden;
}

.product-image {
  display: block;
}

.product-image img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  transition: .4s;
}

.product-card:hover img {
  transform: scale(1.04);
}

/* -----------------------------
   Size Panel
------------------------------*/

.size-overlay {

  position: absolute;

  left: 0;
  bottom: -110px;

  width: 100%;

  background: rgba(255,255,255,.98);
  border: 1px solid #DADADA;

  padding: 14px 18px;

  transition: .35s ease;

  z-index: 20;

}

.product-card:hover .size-overlay{

  bottom:0;

}

.product-title{
  text-decoration: none;
  color: #111;
  font-weight: 600;
}

.size-heading{

  display:flex;
  justify-content: center;

  font-size:16px;

  font-weight:600;

  text-transform:uppercase;

  color:#666;

  margin-bottom:10px;

}

.size-list{

  display:flex;

  justify-content:center;

  gap:10px;

}

.size-btn{

  width:42px;

  height:42px;

  /* border:1px solid #ddd; */

  /* background:#fff; */

  cursor:pointer;

  font-weight:600;

  transition:.25s;

}

.size-btn:hover{

  background:#111;

  color:#fff;

  border-color:#111;

}

/* -----------------------------
   Wishlist
------------------------------*/

.wishlist-btn{

  position:absolute;

  top:18px;

  right:18px;

  width:42px;

  height:42px;

  border:none;

  border-radius:50%;

  background:#fff;

  opacity:0;

  transition:.3s;

  z-index:30;

  cursor:pointer;

}

.product-card:hover .wishlist-btn{

  opacity:1;

}
.product-swiper .swiper-button-prev,
.product-swiper .swiper-button-next {
  width: 28px;
  height: 28px;
  color: #111;
  background: transparent;
  opacity: 0;
  transition: all 0.3s ease;
}

.product-swiper .swiper-button-prev::after,
.product-swiper .swiper-button-next::after {
  font-size: 18px;
  font-weight: 900;
}

.product-card:hover .swiper-button-prev,
.product-card:hover .swiper-button-next {
  opacity: 1;
}