.product-card{
    border-radius:20px;
    overflow:hidden;
    position:relative;
    transition:.3s;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.product-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,.15);
}

.badge{
    position:absolute;
    top:18px;
    left:18px;
    background:#eaf8ef;
    color:#00894d;
    padding:8px 14px;
    border-radius:20px;
    font-size:15px;
    font-weight:700;
}

.product-image{

    height:300px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:25px;
}

.product-image img{

    object-fit:contain;
    transition:.4s;
}

.product-card:hover img{
    transform:scale(1.08);
}

.product-info{
    padding:22px;
}

.product-info h3{
    font-size:16px;
    font-weight:700;
    color:#2d3748;
    line-height:1.4;
    margin-bottom:30px;
}

.bottom-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.bottom-row h4{
    color:#222;
    font-size:30px;
    font-weight:700;
}

.bottom-row button{
    border:none;
    background:none;
    color:#006d8f;
    font-size:16px;
    font-weight:700;
    display:flex;
    align-items:center;
    gap:8px;
    cursor:pointer;
    transition:.3s;
}

.bottom-row button:hover{
    color:#0099cc;
}

.bottom-row button svg{
    font-size:16px;
}