.footer {
  background: #000;
  color: #fff;
  padding: 70px 80px 25px;
}

.footer-logo {
  text-align: center;
  margin-bottom: 60px;
}

.footer-logo h1 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.footer-logo p {
  color: #bdbdbd;
  font-size: 16px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 60px;
}

.footer-grid h3 {
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.footer-grid a {
  display: block;
  color: #cfcfcf;
  text-decoration: none;
  margin-bottom: 12px;
  transition: .3s;
  font-size: 15px;
}

.footer-grid a:hover {
  color: #ffffff;
}

.footer-grid svg {
  margin-right: 10px;
}

.footer-bottom {
  margin-top: 60px;
  padding-top: 25px;
  border-top: 1px solid #2c2c2c;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom p {
  color: #a8a8a8;
}

.payment-icons {
  display: flex;
  gap: 18px;
  font-size: 34px;
}